<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
  <span class="titulo"> Conteudo passado para o componente</span>
  <app-operador-elvis class="conteudo"></app-operador-elvis>
  <span class="conteudo"> Conteudo passado para o componente 2</span>
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>
